<section class="performance">
  <h2 class="performance__heading">{{performance.title}}</h2>
  <div class="performance__items">
    {{>performance_item
      svgPath="./assets/img/running.svg"
      text=performance.items.endurance alt="Running icon" 
      id="performance_running"
    }}
    {{>performance_item 
      svgPath="./assets/img/energy.svg" 
      svgPath2="./assets/img/energy_red.svg" 
      text=performance.items.schedule 
      alt="Energy icon" 
      id='performance_energy'
    }}
    {{>performance_item 
      svgPath="./assets/img/immune_health.svg" 
      text=performance.items.immune 
      alt='Immune health icon' 
      id='performance_immune_health'
    }}
    {{>performance_item 
      svgPath="./assets/img/thumbs_up.svg" 
      text=performance.items.taste 
      alt='Thumbs up icon' 
      id='performance_thumbs_up'
    }}
    {{>performance_item 
      svgPath="./assets/img/checkmark.svg" 
      text=performance.items.habit
      alt='Checkmark icon' 
      id='performance_checkmark'
    }}
    {{>performance_item 
      svgPath="./assets/img/metabolism.svg" 
      text=performance.items.metabolism
      alt='Metabolism icon'
      id='performance_metabolism'
    }}
  </div>
</section>

<script src="./components/performance/performance.js" defer>
</script>