<section class="certification">
  <div class="certificatio__content">
    <picture>
      <source
        media="(max-width: 600px)"
        srcset="./assets/img/certification/usda-organic-logo_mobile.png"
      />
      <img
        src="./assets/img/certification/usda-organic-logo_desktop.png"
        alt="Usda organic certification image"
      />
    </picture>
    <h3 class="certification__heading">only exceptional USDA certified organic
      sustainable sourced ingredients qualify.</h3>
  </div>
</section>