@import "../breakpoints";

.hero {
  position: relative;
  height: auto;
  width: 100%;
  aspect-ratio: 1920/900;

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    object-fit: cover;
  }

  @media (max-width: $breakpoint-tablet) {
    aspect-ratio: 768/400;
  }

  @media (max-width: $breakpoint-mobile) {
    aspect-ratio: 393/333;
  }
}

.info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 927px;
  margin: 0 auto;
  gap: 25px;
  padding: 50px 0;
  grid-template-rows: 98px;

  @media (max-width: $breakpoint-tablet) {
    grid-template-rows: 118px;
    justify-content: center;
    margin: 0 36px;
    padding: 40px 0;
    grid-column-gap: 32px;
  }
  @media (max-width: $breakpoint-small-tablet) {
    grid-template-rows: repeat(2, 118px);
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: $breakpoint-mobile) {
    margin: 0 17px;
    padding: 30px 0;
    grid-gap: 20px;
  }
}

.info__card {
  background-color: $pale-rose;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

  @media (max-width: $breakpoint-tablet) {
    gap: 4px;
    flex-direction: column;
  }

  @media (max-width: $breakpoint-mobile) {
    background-color: $soft-beige;
  }
}

.info__card-title {
  color: $primary-black;
  max-width: 80px;

  @media (max-width: $breakpoint-tablet) {
    text-align: center;
  }

  @media (max-width: $breakpoint-mobile) {
    text-transform: lowercase;
  }
}

#energy {
  background-color: $soft-beige;
  display: none;

  @media (max-width: $breakpoint-tablet) {
    display: flex;
  }
}

#focus {
  display: none;

  @media (max-width: $breakpoint-mobile) {
    display: flex;
  }
}

#sleep {
  @media (max-width: $breakpoint-tablet) {
    display: none;
  }
}

#digestion {
  @media (max-width: $breakpoint-mobile) {
    display: none;
  }
}

#boost {
  @media (max-width: $breakpoint-mobile) {
    order: 1;
  }
}
