<section class="greens">
  <div class="greens__content">
    <img
      src="./assets/img/greens_image.jpg"
      alt="trumeta greens image"
      class="greens__image--desktop"
    />
    <div class="greens__content-text-wrapper">
      <h3 class="greens__heading">
        <span class="greens__heading--smaller">You may also like</span>
        greens</h3>
      <p class="greens__description h3">These vitality-boosting GREENS will
        boost your energy, improve metabolism and increase productivity. Greens
        supports healthier gut, reduces bloating, enhances focus and promotes
        smoother skin.</p>
      <img
        src="./assets/img/greens_image_tablet.jpg"
        alt="trumeta greens image"
        class="greens__image--tablet"
      />
      <button class="greens__button button button--black">learn more</button>
    </div>
  </div>
</section>