<section class="greens">
  <div class="greens__content">
    <img
      src="./assets/img/greens_image.jpg"
      alt="trumeta greens image"
      class="greens__image--desktop"
    />
    <div class="greens__content-text-wrapper">
      <h3 class="greens__heading">
        <span class="greens__heading--smaller">{{greens.title.top}}</span>
        {{greens.title.bottom}}</h3>
      <p class="greens__description h3">{{greens.description}}</p>
      <img
        src="./assets/img/greens_image_tablet.jpg"
        alt="trumeta greens image"
        class="greens__image--tablet"
      />
      <button
        class="greens__button button button--black"
      >{{buttons.learn_more}}</button>
    </div>
  </div>
</section>