<section class="process">
  <h1 class="process__heading">{{process.title}}</h1>
  <div class="process__items">
    {{>text_item 
      title=process.mission.title
      description=process.mission.description
      mobile_icon="./assets/img/mission.svg"
      mobile_icon_alt='Mission icon'
    }}
    {{>text_item 
      title=process.problem.title
      description=process.problem.description
      mobile_icon="./assets/img/exclamation.svg"
      mobile_icon_alt='Exclamation icon'
    }}
    {{>text_item 
      title=process.therapeutic.title
      description=process.therapeutic.description
      mobile_icon="./assets/img/heart.svg"
      mobile_icon_alt='Heart icon'
    }}
    {{>text_item 
      title=process.result.title
      description=process.result.description
      mobile_icon="./assets/img/running.svg"
      mobile_icon_alt='Running icon'
    }}
    <img src="./assets/img/vertical_line.svg" alt="Vertical divider line with icons" class="process__divider-line"/>
  </div>
  <div class="process__badges">
    {{>badge 
      icon="./assets/img/badge/vegan.svg"
      text=process.badges.vegan
    }}
    {{>badge 
      icon="./assets/img/badge/gluten_free.svg"
      text=process.badges.gluten_free
    }}
    {{>badge 
      icon="./assets/img/badge/dairy_free.svg"
      text=process.badges.dairy_free
    }}
    {{>badge 
      icon="./assets/img/badge/non_gmo.svg"
      text=process.badges.non_gmo
    }}
    {{>badge 
      icon="./assets/img/badge/soy_free.svg"
      text=process.badges.soy_free
    }}
    {{>badge 
      icon="./assets/img/badge/nut_free.svg"
      text=process.badges.nut_free
    }}
    {{>badge 
      icon="./assets/img/badge/shellfish_free.svg"
      text=process.badges.shellfish_free
    }}
    {{>badge 
      icon="./assets/img/badge/sesame_free.svg"
      text=process.badges.sesame_free
    }}
  </div>
</section>