<div class="text-with-icon">
  <img
    src={{mobile_icon}}
    alt={{mobile_icon_alt}}
    class="text-with-icon__icon"
  />
  <h3 class="text-with-icon__heading">{{title}}</h3>
  <span class="text-with-icon__description">{{description}}</span>
  <picture class="text-with-icon__image-wrapper">
    <source media="(max-width: 600px)" srcset="./assets/img/arrow.svg" />
    <img
      src="./assets/img/horizontal_line.svg"
      alt="Horizontal divider line"
      class="text-with-icon__divider"
    />
  </picture>
</div>