<section class="subscribe">
  <h2 class="subscribe__heading">{{subscribe.title}}</h2>
  <div class="subscribe__content">
    {{>subscribe_item svgPath="./assets/img/cycle.svg" text=subscribe.delivery alt='Cycle icon' }}
    {{>subscribe_item svgPath="./assets/img/percent.svg" text=subscribe.value alt='Percent icon' }}
    {{>subscribe_item svgPath="./assets/img/close.svg" text=subscribe.cancel alt='X icon'}}
  </div>
</section>