<header>
  <nav class="navigation">
    <ul class="navigation__list">
      {{#each navigation}}
        <li><a
            class="navigation__item"
            href="{{this.path}}"
          >{{this.name}}</a></li>
      {{/each}}
    </ul>
  </nav>
  <a href="/#" class="header__logo">
    <img src="./assets/img/logo/logo_desktop.png" alt="logo" />
  </a>
</header>