<div>
  <button class="faq-item__button" id={{id}} onclick="toggleAnswer(this)">
    <h3 class="faq-item__title">{{question}}</h3>
    <img src="./assets/img/arrow_down.svg" alt="Question arrow icon" />
  </button>
  <p class="faq-item__answer">{{{answer}}}</p>
</div>

<script src="./components/faqs/question.js" defer \></script>