<section class="faq__section">
  <h2 class="faq__heading">FAQs</h2>
  <div class="faq__list">
    {{>faq_item 
        question='What are the Effective ingredients in Trumeta Reds?' 
        answer='
        Trumeta Reds contains 3 blends and 25 vitality-boosting superfoods:<br><br>

        <b>Metabolism-Boosting Blend:</b><br>
        Organic Acai - This Amazon superfruit is a rich source of healthy fats. Clears brain fog and promotes stronger memory.<br>
        Organic Green Tea - Improves memory, focus, and the ability to relax. Promotes healthier sugar metabolism.<br>
        Organic Acacia - This ancient Egyptian remedy calms the belly. Reduces diarrhea and constipation. Decreases body fat.<br>
        Organic Cinnamon - This belly-slimming sweet spice blocks carb breakdown and sugar absorption. Reduces appetite and balances blood sugar.<br>
        <b>Super Antioxidant Immune Blend:</b><br>
        Organic Pineapple - This Hawaiian treat decreases joint discomfort and accelerates exercise recovery.<br>
        Organic Strawberry - Promotes healthy blood sugar and cholesterol. Protects nerve cells in the brain.<br>
        Organic Beetroot - Enhances blood flow, circulation, and metabolic repair.
        Organic Bilberry - Curbs cravings. Boosts energy levels. Promotes healthy digestion. Decreases diarrhea.<br>
        Organic Raspberry - Supports joint health and comfort. Reduces fat accumulation and fatty deposits in the liver.<br>
        Organic Blueberry - Enhances focus and productivity. Improves muscle soreness and recovery after exercise.<br>
        Organic Banana - Improves gut and immune health. Reduces appetite.
        Organic Cranberry - Promotes a healthy urinary tract. Great for UTI prevention. Supports healthy skin and heart.<br>
        Organic Pomegranate - This ancient biblical fruit maintains a healthy bacteria balance in your gut. Supports stronger memory and brain health.
        Organic Cherry - Supports a restful night’s sleep. May increase sleep duration by almost 90 minutes.<br>
        Organic Apple - Keeps you feeling full so you eat less. Promotes a healthy gut and digestion.<br>
        Organic Papaya - Reduces skin aging. Reduces bloating and constipation weighing you down.
        Organic Goji - Enhances glucose energy metabolism. Reduces fatty liver deposits.<br>
        Organic Grape - Boosts skin collagen. Protects vision from harmful blue light. Promotes a healthy heart and bones.<br>
        Organic Maqui - Growing high up in the Chilean mountains, this superfruit balances blood sugar and fights premature aging.<br>
        <b>Endurance Blend:</b><br>
        Organic Reishi Mushroom - Dubbed the “Mushroom of Immortality”, this mushroom fights off harmful pathogens. Supports healthy blood sugar and fats.<br>
        Organic Cordyceps Mushroom - Enhances tissue and muscle repair. Dramatically boosts cellular energy production. Improves sexual function.<br>
        Organic Shiitake Mushroom - Fights against abnormal cell growth and harmful pathogens. Promotes healthy heart and arteries.<br>
        Organic King Oyster Mushroom - This King is “The King of Immune Fortification.” It protects your major organs from dangerous toxins and microbes.<br>
        Organic Lion’s Mane Mushroom - Grows new brain cells and improves memory. Removes fatty deposits in the liver.<br>
        Organic Turkey Tail Mushroom - Repairs skin damage and promotes a younger-looking complexion. Keeps your energy levels steady.'
        id='question-1'
    }}
    {{>faq_item 
        question='Other question?' 
        answer='Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        id='question-2'
    }}
    {{>faq_item 
        question='Other question?' 
        answer='Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        id='question-3'
    }}
    {{>faq_item 
        question='Other question?' 
        answer='Lorem ipsum dolor sit amet, consectetur adipiscing elit'
        id='question-3'
    }}
  </div>
</section>