<section class="faq__section">
  <h2 class="faq__heading">FAQs</h2>
  <div class="faq__list">
    {{>faq_item 
        question=faq.effective_ingredients.question
        answer=faq.effective_ingredients.answer
        id='question-1'
    }}
    {{>faq_item 
        question=faq.other.question
        answer=faq.other.answer
        id='question-2'
    }}
    {{>faq_item 
        question=faq.other.question
        answer=faq.other.answer
        id='question-3'
    }}
    {{>faq_item 
        question=faq.other.question
        answer=faq.other.answer
        id='question-3'
    }}
  </div>
</section>