<div class="swiper-item">
  <div class="swiper-item__text-wrapper">
    <span class="reds-text reds-text--absolute"><span class="reds-text--red">reds</span> blen d</span>
    <p class="swiper-item__description"><span class="swiper-item__description--bold">Metabolism Boosting</span><br><br>These powerful superfoods ignite your metabolism and reduce bloating. They improve digestion and deliver the energy you need to get things done.<br><br>Main Organic Ingiredents:</p>
  </div>
  <div class="swiper-item__image-list">
    {{>image_item imgSrc="./assets/img/acai_berry.png" description="organic acai berry" }}
    {{>image_item imgSrc="./assets/img/acacia_gum.png" description="organic acacia gum" }}
    {{>image_item imgSrc="./assets/img/cinnamon_bark.png" description="organic ceylon cinnamon bark" }}
    {{>image_item imgSrc="./assets/img/green_tea.png" description="organic green tea" }}
  </div>
</div>