<section class="swiper-section">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">{{>swiper_item_metabolism}}</div>
      <div class="swiper-slide">{{>swiper_item_metabolism}}</div>
      <div class="swiper-slide">{{>swiper_item_metabolism}}</div>
    </div>
    <div class="swiper__buttons-wrapper">
      <button class="button-prev"></button>
      <div class="pagination pagination--horizontal"></div>
      <button class="button-next"></button>
    </div>
  </div>
  <div class="swiper-section__button-wrapper">
    <button class="button button--black">add to cart</button>
  </div>
</section>