$font-family-plus-jakarta-sans: "Plus Jakarta Sans", sans-serif;

$primary-black: #0b0a0c;
$pale-rose: #f9e8e7;
$light-gray: #f5f5f5;
$lime-green: #12a637;
$light-green1A: #12a6371a;
$soft-beige: #e2d8d0;
$white: #ffffff;
