@import "variables";
@import "breakpoints";

* {
  padding: 0;
  margin: 0;
  font-family: $font-family-plus-jakarta-sans;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background-color: none;
  border: none;
}

@import "navigation";
