@import "variables";
@import "breakpoints";

@import "./components/navigation";
@import "./components/hero";
@import "./components/subscribe";
@import "./components/performance";
@import "./components/certification";
@import "./components/swiper";
@import "./components/process";
@import "./components/faq";
@import "./components/greens";

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  height: 100%;
  font-family: $font-family-plus-jakarta-sans;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  font-family: $font-family-plus-jakarta-sans;
}

h1 {
  font-weight: 800;
  font-size: 48px;
  line-height: 51.36px;
  letter-spacing: -0.01em;
}

h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 27.72px;
}

h3 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 0.05em;
  display: inline;

  @media (max-width: $breakpoint-mobile) {
    font-size: 14px;
    line-height: 17.64px;
  }
}

picture {
  display: block;
  width: auto;
  height: auto;
  line-height: 0;
}

section {
  width: 100%;
}

.button {
  font-family: $font-family-plus-jakarta-sans;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  border-radius: 15px;
  width: 360px;
  height: 54px;
}

.button--black {
  color: $white;
  background-color: $primary-black;
}

.h3 {
  font-size: 16px;
  line-height: 20.16px;
  letter-spacing: 0.05em;

  @media (max-width: $breakpoint-mobile) {
    font-size: 14px;
    line-height: 17.64px;
  }
}
